@import (reference) '../../assets/css/public';
.hTit{
    padding-left:40px;
    background: url(../../assets/images/ls_2.png) 20px center no-repeat;
}
.leftMainUl{
    padding:10px 0;
    font-size: 12px;
    label{
        display: inline-block;
        margin-right: 10px;
        padding:4px 0;
        width: 80px;
        text-align: right;
    }
    i{
        margin-left: 15px;
        font-style: normal;
        color: @color-blue;
        cursor: pointer;
    }
}
.changeSorH{
    position: fixed;
    left:215px;
    top:45%;
    width: 60px;
    height: 119px;
    background: url(../../assets/images/hideLeft.png);
    cursor: pointer;
    transition: .2s;
}
.changeSorH2{
    position: fixed;
    left:-15px;
    top:45%;
    width: 60px;
    height: 119px;
    background: url(../../assets/images/hideLeft2.png);
    cursor: pointer;
    transition: .2s;
}
.leftUlWraps{
    margin:10px 0;
}
.mainDetail{
    max-height: 390px;
    overflow-y: scroll;
}
.pickerWrap{
    position: relative;
    width:200px;
}